/* Assigns:
Font size 20px to h1 tags
Font size 14px to h1 tags, when your screen width is smaller than 320px*/
$biggerfont: 20px;
$smallerfont: 14px;

h1 {
    font-size: $biggerfont;
    @media screen and (max-width: 320px) {
        & {
            font-size: $smallerfont;
        }
    }
}